@charset "UTF-8";
@font-face {
  font-family: 'responsivenav';
  src: url(../fonts/responsivenav.eot?optmfy);
  src: url(../fonts/responsivenav.eot?#iefixoptmfy) format("embedded-opentype"), url(../fonts/responsivenav.woff?optmfy) format("woff"), url(../fonts/responsivenav.ttf?optmfy) format("truetype"), url(../fonts/responsivenav.svg?optmfy#responsivenav) format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'responsivenav';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-reorder:before {
  content: "\e600"; }

.icon-remove:before {
  content: "\e601"; }

.icon-chevron-left:before {
  content: "\e602"; }

.icon-chevron-right:before {
  content: "\e603"; }

.icon-twitter:before {
  content: "\e604"; }

.icon-github:before {
  content: "\e605"; }

.icon-list-ul:before {
  content: "\e606"; }

.icon-caret-down:before {
  content: "\e607"; }

.icon-caret-up:before {
  content: "\e608"; }

.icon-angle-down:before {
  content: "\e609"; }

.icon-angle-up:before {
  content: "\e60a"; }

.icon-angle-right:before {
  content: "\e60b"; }

.icon-angle-left:before {
  content: "\e60c"; }

.icon-mobile:before {
  content: "\e60d"; }

.icon-tablet:before {
  content: "\e60e"; }

.icon-laptop:before {
  content: "\e60f"; }

.icon-desktop:before {
  content: "\e610"; }

.icon-code:before {
  content: "\e611"; }

.icon-terminal:before {
  content: "\e612"; }

.icon-home:before {
  content: "\e613"; }

.icon-menu:before {
  content: "\e614"; }

.icon-list:before {
  content: "\e615"; }

.icon-list2:before {
  content: "\e616"; }

.icon-close:before {
  content: "\e617"; }

.icon-minus:before {
  content: "\e618"; }

.icon-plus:before {
  content: "\e619"; }

.icon-code2:before {
  content: "\e61a"; }

.icon-embed:before {
  content: "\e61b"; }

.icon-google-plus:before {
  content: "\e61c"; }

.icon-twitter2:before {
  content: "\e61d"; }

.icon-github2:before {
  content: "\e61e"; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

b, strong, optgroup {
  font-weight: 700; }

pre, textarea {
  overflow: auto; }

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 1em;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #4c4c4c;
  background-color: #fff;
  margin: 0;
  min-width: 100%; }

div {
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 2em;
  margin: 0 0 0.4em 0; }

h2 {
  font-size: 1.5em;
  margin: 0 0 0.8em 0; }

h3 {
  font-size: 1.4em;
  margin: 0 0 0.7em 0; }

h4 {
  font-size: 1.3em;
  margin: 0 0 0.6em 0; }

h5 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0; }

h6 {
  font-size: 1.1em;
  margin: 0 0 0.4em 0; }

a {
  color: #00B3E4;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400; }

a:focus,
a:hover {
  color: #4c4c4c; }

p > a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #00B3E4; }

p {
  font-weight: 300;
  margin: 0 0 1em; }

.text-center {
  text-align: center; }

/* Image alignment & Media
============================================================ */
.aligncenter {
  display: block;
  margin: 0 auto 1em; }

.alignleft {
  display: block;
  margin: 0 auto 1em; }

.alignright {
  display: block;
  margin: 0 auto 1em; }

img,
audio,
video,
canvas {
  max-width: 100%; }

img {
  height: auto; }

hr {
  margin-bottom: 20px; }

.padding-top {
  padding-top: 60px; }

.callout {
  padding: 10px;
  font-style: italic;
  text-align: center; }

/* Micro Clearfix
============================================================ */
.cf:before, .cf:after, .row:before, .row:after {
  content: "";
  display: table; }

.cf:after, .row:after {
  clear: both; }

.cf, .row {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
/* 12 Column Mobile First Grid
============================================================ */
.container {
  max-width: 1000px;
  width: 96%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12 {
  width: 100%;
  position: relative;
  min-height: 1px; }

/* ==  Layout
================================================= */
.page-frame {
  position: relative;
  overflow: hidden;
  /* height: 100%; */ }

.page {
  position: relative;
  height: 100%; }

.content-frame {
  height: 100%;
  position: relative;
  padding: 0;
  background-color: #fff;
  -ms-transform: translate(250px, 0);
  -moz-transform: translate(250px, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate(250px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
  border-top: 1px solid transparent;
  min-height: 1600px; }

.nav-collapsed .content-frame {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0); }

/* ==  Header
================================================= */
.header {
  width: 100%;
  position: relative;
  margin: 0px auto;
  background: url("../img/121.jpg") no-repeat center center;
  background-size: cover;
  padding: 3em 0; }

body.example .header {
  padding: 1em 0; }

h1.heavy {
  color: #333;
  font-size: 1.9em;
  line-height: 1.2;
  padding-top: 20px;
  position: relative;
  font-weight: 300;
  text-align: center; }

h1.heavy span {
  font-size: 0.6em;
  display: block; }

#carbonads-container {
  width: 300px;
  margin: 20px auto 0; }

.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 11px;
  color: #222;
  z-index: 999; }

.menu-toggle:hover {
  color: #555; }

.toggle-me {
  font-size: 2em; }

.offcanvas {
    /*
    background-color: #fff;
		position: fixed;
		z-index: 9999;
		top: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 0px;
		border-top: 1px solid #c6d0da;
		border-right: 1px solid #c6d0da;
		-webkit-transform: translateX(-300px);
		-moz-transform: translateX(-300px);
		transform: translateX(-300px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
    */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  overflow: hidden;
  cursor: default;
  color: #c8c8c8;
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.offcanvas.open {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  width: 300px; }

.scroll {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100%; }

.offcanvas ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300; }

.offcanvas li {
  display: block; }

.offcanvas a {
  display: block;
  height: 100%;
  width: 100%;
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #353434;
  padding: 13px 10px;
  transition: 0.3s ease all; }

.offcanvas a:hover {
  background-color: #111; }

.offcanvas a i {
  font-size: 23px;
  float: left;
  padding: 0 15px 0 4px; }

.offcanvas a.moveleft {
  padding-left: 53px; }

/* ==  Updating Page Width
================================================= */
.special {
  padding: 1em 0;
  width: 100%; }

p#curr_size {
  font-size: 22px;
  position: relative;
  text-align: center;
  z-index: 3;
  margin: 0; }

p#curr_size:after {
  border-bottom: 1px solid #f4f4f4;
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  width: 100%;
  z-index: -1; }

/* ==  Temporary Callout
================================================= */
.temp-callout {
  margin: 0 auto 20px;
  background: #f4f4f4; }

.temp-content {
  padding: 15px; }

.callout-title {
  width: 100%;
  clear: both;
  background: #fda100; }

.callout-title h2 {
  margin: 0;
  padding: 0px 20px;
  color: #FFF;
  font-size: 1.4em;
  float: left;
  line-height: 2.2em; }

.callout-title a {
  float: right;
  color: #fff;
  font-size: 2em;
  padding-right: 10px; }

/* ==  Main
================================================= */
section {
  margin-bottom: 2.5em; }

.margin-bottom {
  margin-bottom: 1.5em; }

.twitter-share-button {
  display: block;
  margin: 0 auto 50px; }

h2.headline {
  border-bottom: 1px solid #d5d5d5;
  line-height: 1.5em;
  padding-bottom: 0.4em;
  font-weight: 600; }

p.center {
  text-align: center; }

.box {
  padding: 1em;
  margin: 0 0 2em 0;
  background-color: #ebebeb;
  transition: 0.6s ease background-color;
  min-height: 200px; }

.box:hover {
  background-color: #fafafa; }

.box h3 {
  font-weight: bold;
  margin: 0 0 0.5em; }

.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: 0;
  border: 0;
  background-color: #ebebeb;
  color: #999;
  padding: .8em 1.5em;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 -0.185rem 0 rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 -0.185rem 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -0.185rem 0 rgba(0, 0, 0, 0.1) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
  -moz-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
  -o-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
  -ms-transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
  transition: opacity .25s ease,background-color .25s ease,color .25s ease,background .25s ease,box-shadow .25s ease;
  -webkit-appearance: none; }

.button.small {
  font-size: .75rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.button.green {
  background-color: #42BBA3;
  color: #fff;
  border-bottom: 1px solid #68ae6e; }

.button.green:hover,
.button.green:focus {
  background-color: #42bba3; }

/* ==  Footer
================================================= */
.footer {
  font-size: 0.9em;
  margin-top: 2em;
  border-top: 1px solid #ebebeb; }

.footer .container {
  width: 100%;
  padding: 1em 0;
  max-width: 1000px; }

.footer p {
  margin-bottom: 0; }

.footer a {
  text-decoration: none; }

.copyright {
  padding-top: 8px;
  text-align: center; }

.socials {
  padding-top: 5px;
  text-align: center; }

.socials a {
  display: inline-block;
  margin: 0 5px;
  color: #42BBA3;
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: none; }

/* ==  Examples
================================================= */
.margin-top {
  margin-top: 2em; }

.example-header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 99;
  position: relative; }

.example-title {
  margin: 0.5em 0; }

.example-wrap {
  width: 98%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/*
[contenteditable] {
  -webkit-user-modify: read-write-plaintext-only;
}
style {
  display: block; 
  padding: 20px; 
  font-size: 1em; 
  white-space: pre;
  white-space:pre; 
  border: 1px solid #aaa; 
  background-color:#dedede; 
  margin: 0px auto 1.5em; width: 100%; 
  font-family:"Courier New", Courier, monospace;
  overflow: hidden;
  overflow-x: scroll;
}
*/
@media all and (min-width: 480px) {
  h1.heavy {
    font-size: 2.2em;
    padding-top: 0; } }
@media all and (min-width: 640px) {
  body {
    padding-left: 50px; }

  .menu-toggle {
    display: none; }

  .aligncenter {
    display: block;
    margin: 0 auto 1em; }

  .alignleft {
    display: inline;
    float: left;
    margin: 0 1em 1em 0; }

  .alignright {
    display: block;
    float: right;
    margin: 0 0 1em 1em; }

  div[class*='span-'] {
    float: left;
    margin-left: 1.5%; }

  div[class*='span-']:first-child {
    margin-left: 0; }

  .span-1 {
    width: 6.95833333333%; }

  .span-2 {
    width: 15.4166666667%; }

  .span-3 {
    width: 23.875%; }

  .span-4 {
    width: 32.3333333333%; }

  .span-5 {
    width: 40.7916666667%; }

  .span-6 {
    width: 49.25%; }

  .span-7 {
    width: 57.7083333333%; }

  .span-8 {
    width: 66.1666666667%; }

  .span-9 {
    width: 74.625%; }

  .span-10 {
    width: 83.0833333333%; }

  .span-11 {
    width: 91.5416666667%; }

  .span-12 {
    margin-left: 0;
    width: 100%; }

  div[class*='span-'].offset-1 {
    margin-left: 8.45833333333%; }

  div[class*='span-'].offset-2 {
    margin-left: 16.9166666667%; }

  div[class*='span-'].offset-3 {
    margin-left: 25.375%; }

  div[class*='span-'].offset-4 {
    margin-left: 33.8333333333%; }

  div[class*='span-'].offset-5 {
    margin-left: 42.2916666667%; }

  div[class*='span-'].offset-6 {
    margin-left: 50.75%; }

  div[class*='span-'].offset-7 {
    margin-left: 59.2083333333%; }

  div[class*='span-'].offset-8 {
    margin-left: 67.6666666667%; }

  div[class*='span-'].offset-9 {
    margin-left: 76.125%; }

  div[class*='span-'].offset-10 {
    margin-left: 84.5833333333%; }

  div[class*='span-'].offset-11 {
    margin-left: 93.0416666667%; }

  h1.heavy {
    text-align: left;
    float: left;
    margin-bottom: 0; }

  body.example h1.heavy {
    float: none;
    text-align: right; }

  .header #carbonads-container {
    float: right;
    margin-top: 10px; }

  .copyright {
    text-align: left; }

  .socials {
    text-align: right; } }
@media all and (min-width: 885px) {
  h1.heavy {
    font-size: 3.2em; }

  body.example h1.heavy {
    font-size: 2em; }

  body.example h1.heavy span {
    display: inline;
    font-size: inherit; }

  body.example .header {
    padding: 0.6em 0; } }
/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+clike+javascript&plugins=line-highlight+line-numbers */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #141414;
  /* #141414 */ }

/* Code blocks */
pre[class*="language-"] {
  border-radius: .5em;
  border: 0.3em solid #545454;
  /* #282A2B */
  box-shadow: 1px 1px .5em black inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em; }

pre[class*="language-"]::selection {
  /* Safari */
  background: #27292a;
  /* #282A2B */ }

pre[class*="language-"]::selection {
  /* Firefox */
  background: #27292a;
  /* #282A2B */ }

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */ }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */ }

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  border: 0.13em solid #545454;
  /* #545454 */
  box-shadow: 1px 1px .3em -.1em black inset;
  padding: .15em .2em .05em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #787878;
  /* #777777 */ }

.token.punctuation {
  opacity: .7; }

.namespace {
  opacity: .7; }

.token.tag,
.token.boolean,
.token.number {
  color: #cf694a;
  /* #CF6A4C */ }

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #f9ee9a;
  /* #F9EE98 */ }

.token.attr-name,
.token.attr-value,
.token.string,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #919e6b;
  /* #8F9D6A */ }

.token.atrule {
  color: #7386a5;
  /* #7587A6 */ }

.token.regex,
.token.important {
  color: #e9c163;
  /* #E9C062 */ }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative; }

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #ad895c;
  /* #AC885B */ }

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1; }

.line-highlight {
  background: -moz-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: -o-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: -webkit-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: rgba(84, 84, 84, 0.25);
  /* #545454 */
  background: linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  border-bottom: 1px dashed #545454;
  /* #545454 */
  border-top: 1px dashed #545454;
  /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0; }

.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: #8794a6;
  /* #8794A6 */
  border-radius: 999px;
  box-shadow: 0 1px white;
  color: #f5f2f0;
  /* #F5F2F0 */
  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: .4em;
  vertical-align: .3em; }

.line-highlight[data-end]:after {
  bottom: .4em;
  content: attr(data-end);
  top: auto; }

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em; }

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white; }

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em; }

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }

pre.line-numbers > code {
  position: relative; }

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right; }