html, body {

background-color: #333 !important;

}

*, :after, :before {
  box-sizing: border-box;
  word-wrap: break-word;
}
a {
    text-decoration: underline;
    color: #000;
    transition: all .3s ease;
    text-decoration:none
}

.navbar-toggle {
  float: left;
  padding: 0 10px;
}

.navmenu {

  z-index: 1;
 -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;

}

.canvas {
  position: relative;
  left: 0px;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  padding: 50px 0 0 0px;
  background: #333;
   -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
  border: solid 0px yellow;
}
.navbar-default {
    background-color: #333;
    border-color: #3c3c3c;
     -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}
.navbar-default .navbar-toggle {
  border-color: #333;

}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color:#333
}
.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a{
    color: #c5c5c5;
    font-family: Cambria,Georgia,Serif;
    text-transform: none
}

.nav>li>a { 
  font-size: 2.575rem;
  line-height: 50px;
  line-height: 3.125rem;
  padding-left:40px;
}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover{
    color: #fff;
}
.navbar-toggle .icon-bar {
  display: block;
  
  height: 4px;
  border-radius: 0px;
  border:none;  
}
.navbar-toggle .icon-bar {
  margin-top: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* side bar and animation */
.bar {
  display: block;
  height: 5px;
  width: 30px;
  background-color: #c5c5c5; 
  margin: 5px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.navbar-toggle.visible-xs { z-index: 3; }

.hidden-xs { display: none; }

.middle { margin: 0 auto; }

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.navbar-toggle.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(5px) rotateZ(45deg);
  -moz-transform: translateY(5px) rotateZ(45deg);
  -ms-transform: translateY(5px) rotateZ(45deg);
  -o-transform: translateY(5px) rotateZ(45deg);
  transform: translateY(5px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle { width: 0; }

.move-to-left {
  border: solid 1px red;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.sidebar {
  height: 100%;
  width: 225px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  background-color: #333;
}
.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 50px;
  text-align: left;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 1;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}
.sidebar-item:nth-child(4) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}
.sidebar-item:nth-child(5) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}
.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  color: #fff;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #c5c5c5;
  text-decoration: none;
  font-size: 1.7em;;
  font-family: Cambria,Georgia,Serif;
  text-transform: none;
  position: relative;
  padding-left: 40px;  
}
.sidebar-anchor:hover; .sidebar-anchor:hover{
  color: #fff;
}
.sidebar-anchor.active, .sidebar-anchor:active {
  color: #fff;   
}
.sidebar-anchor.visited, .sidebar-anchor:visit {
  color: #c5c5c5;   
}
.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40px;  
  background-color: #fff;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;  
}
/*----------------- */
.menu-container {
  width: 100%;
  position: relative;
  top: 0;
  padding: 26px 30px;
}
.deginix-logo{
   /* position: absolute;
  float: none;
  right: 30px;
  top: 23px;*/
   padding: 40px 20px 20px 30px;
  z-index: 5;
}
.deginix-logo p{
  font-size:39px;
  color: #80ced6;/*#66CDAA;*/
  line-height: 0.61em;
 
}
.deginix-logo span{
   font-size:11px;
  color: #c3c3c3;
  }
/* arrow home bn */
.home-btn{cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
.home-btn:hover {
   animation: bounce 3s infinite;
 -webkit-animation: bounce 3s infinite;
 -moz-animation: bounce 3s infinite;
 -o-animation: bounce 3s infinite;
  }
 @-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
/* content */

.content-container {
width: 100%; 
position: relative; 
 z-index: 0;
transition: -webkit-transform .5s ease 0s; 
transition: transform .5s ease 0s;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  top: 10%;

  }
  .content-box {
  background-color: #ffb84d;
}
 .content-box {
  /*background-color: #ffb84d;*/
  padding: 2% 5% 9% 5%;
  margin: 0 auto;
  color:#fff;
  font-size: 20px;
  line-height: 1.6em;
  font-family: Cambria,Georgia,Serif;
  color: #333;
  text-transform: none;
  text-align: center;
   min-height: 400px;
max-height: 650px;
height: 400px;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;

 }
 .content-box-gray{
  background: #c5c5c5;
 }
 .content-box .text-content{
	/*padding:0 3% 0 10%;*/
}
 .content-box h2{
  color:#ffffcc;
  padding:0 0 20px 0 ;
 }
.content-box:before {
  left: 100%;
  border-color: transparent transparent transparent #3c3c3c;
}
 .content-box-right {
  background-color: #fff;
  padding: 0 0;
  margin: 0 auto;

  font-size: 20px;
  line-height: 1.6em;
  font-family: Cambria,Georgia,Serif;
  color: #c5c5c5;
  text-transform: none;
    min-height: 400px;
    max-height: 650px;
    height: 400px;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
  z-index: -5;
  }
  #block-1:before {
    content: "" !important;
    display: block !important;
    border-style: solid !important;
    border-width: 20px !important;
    position: absolute !important;
    top: 50% !important;
    margin-top: -20px !important;
    width: 0 !important;
    transition: all .3s ease !important;
}
.content-box:before {
    left: 100% !important;
    /*border-color: white #3c3c3c green red;*/
    border-color: transparent #ffb84d transparent transparent;
  z-index:999 !important;
}
#block-1.content-box:before {
    right: 100% !important;
     border-color: transparent transparent transparent #ffb84d;
z-index:999 !important;
}

.content-box:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 0;
    transition: all .3s ease;
}
.content-box:before {
    left: -40px !important;
    
}
#block-1.content-box:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 0;
    transition: all .3s ease;
}
#block-1.content-box:before {
      left: 628px !important;
    
}
#whoweare, .section{
    z-index: 2;
    position: relative;
    height: 100%;
    background-color: #3c3c3c;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}  
#whatweoffer, #whatweoffer-ps{
   background-color: #3c3c3c;height: 100%;overflow: visible;
} 
#partnersSec{
    background:#fff;

    }
#partnersSec.partners {
  padding:40px;
}
#partnersSec.partners .blue, #partnersSec.partners .green, #partnersSec.partners .yellow, #partnersSec.partners .red {border-radius:20px;}

#partnersSec.partners .blue{
background:#008b8b;
}
#partnersSec.partners .green{
background:lightgreen;
}
#partnersSec.partners .yellow{
background:#ffa500;
}
#partnersSec.partners .red{
background:#15Cae0;
}
#partnersSec.partners h2 {
     color: #15Cae0;
     font-family: Cambria,Georgia,Serif;
}
.content-box-right .whatweoffer__image, .whoweare__image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#whoweare .whoweare__image {   
    background-image: url('../images/whatwedo-img.jpg');height: 100%;width:100%;background-repeat:no-repeat;z-index: 4;
}
#whatweoffer .whatweoffer__image {   
    background-image: url('../images/whatweoffer-img.jpg');height: 100%;width:100%; background-repeat:no-repeat;
}
 .content-box-left-p,  .content-box-left-s {
    min-height: 430px;
  max-height: 700px;
  height: 430px;
}
 .content-box-left-p, content-box-left {
  background-color: #fff;
  color: #333; 
  }
 .content-box-left-s {
  background-color: #c5c5c5;
  color: #333;
   }
  .content-box-left {
  min-height: 400px;
  max-height: 700px;
  height: 400px;
    }
 .content-box-left-p, .content-box-left-s, .content-box-left {
  /*background-color: #fff;*/
  padding: 0 0;
  margin: 0 auto;  
  font-size: 20px;
  line-height: 1.6em;
  font-family: Cambria,Georgia,Serif;
  
  text-transform: none;
  text-align:center;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;

  }


#whatweoffer-ps .content-box-left-p h2, #whatweoffer-ps .content-box-left-s h2,, #schedule h2  { 
  color: #000;  
  padding: 4% 5% 3.6% 5%;
}
#whatweoffer-ps ul{
  list-style-type:none;
}
#schedule { background-color: #fff ; font-family: Cambria,Georgia,Serif;}
#schedule .content-box {
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
  color:#fff;
  font-size: 20px;
  line-height: 1.6em;
  font-family: Cambria,Georgia,Serif;
  color: #333;
  text-transform: none;
  text-align: center;
   min-height: 200px;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;

 }
#whatweoffer-ps .content-box-left {
  height: 520px;
  text-align: center;
}
#whatweoffer-ps #block-p ul li a, #whatweoffer-ps #block-s ul li a{
  color: #333 !important;
}
#whatweoffer-ps #block-p ul li a:hover, #whatweoffer-ps #block-s ul li a:hover{
  color: #333 !important;
}
@media all and (max-width: 480px) {
	
.content-box {
height:100%;
}
#partners .content-box-partners {
    /* padding: 5% 0; */
    /* margin: 0 auto; */
    color: #fff;
    font-size: 1.525em;
    line-height: 1.66667em;
    font-family: Cambria,Georgia,Serif;
    color: #c5c5c5;
    text-transform: none;
    min-height: auto !important;
    height: auto !important;
}

#partners .block__more {
display:inline;
font-size:15px;
text-align:center;
padding-left:34%;
}
}

@media (min-width: 1025px){
  .menu-container {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333;
  padding: 30px;
}
.deginix-logo {
  bottom: 40px;
  top: auto;
  left: 40px;
  right: auto;
}
}
@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
    padding: 20px;
    min-height: 100%;
    background: transparent;

}
  .canvas {
    padding: 0;

  }
}
.navbar-offcanvas {
 position: none;
  z-index: 1050;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border-radius: 0;
}
.sticky-section {
    position: relative
}

@media (min-width: 1025px) {
    .sticky-section {
        background:#e9e9e9
    }
}

@media (min-width: 1025px) {
    .sticky-section.hero_50_50 .content-box {
        min-height:100vh;
        padding: 10%
    }
}

.hero-center .sticky-section.hero_50_50 .content-box h1,.sticky-section.hero_50_50 .content-box .hero-center h1,.sticky-section.hero_50_50 .content-box .hero__title {
    color: #000
}

@media (min-width: 1025px) {
    .sticky-section .grid-even-split .content-box-inner {
        max-width:80%;
        float: right
    }
}

.sticky-section .grid-even-split--right {
    float: right;
}

@media (min-width: 1025px) {
    .sticky-section .grid-even-split--right .content-box-inner {
        max-width:80%;
        float: left
    }
}

@media (min-width: 1600px) {
    .sticky-section .content-box {
        padding-bottom:120px;
        padding-top: 120px
    }
}

@media (min-width: 1025px) {
    .node-type-project .sticky-section .content-box {
        min-height:100vh
    }
}

.sticky-section .content-box img {
    margin-bottom: 1.66667em;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.sticky-section .content-box .asset>strong {
    display: none
}

.lt-ie9 .project-slide-show .content-box-inner {
    top: 55%
}

@media (min-width: 1025px) {
    .content-box [data-waypoint=true] {
        height:0;
        margin: 0!important;
        visibility: hidden
    }

    .content-box [data-waypoint=true] *,.content-box [data-waypoint=true] :after,.content-box [data-waypoint=true] :before {
        padding: 0!important
    }
}

@media (min-width: 1025px) {
    .content-box .asset-video .video-container {
        position:static
    }
}

@media (min-width: 1025px) {
    .content-box blockquote.waypoint {
        margin:0;
        padding: 0
    }
}

.grid-waypoint-holder,.lt-ie9 .homepage-promo-split .waypoint-display {
    display: none
}

@media (min-width: 1025px) {
    .grid-waypoint-holder {
        display:block
    }
}

@media (min-width: 1025px) {
    .waypoint-display {
        position:relative
    }
}

@media (min-width: 1025px) {
    .waypoint-display .asset {
        background-size:cover;
        background-repeat: none;
        background-position: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        z-index: 0;
        -webkit-backface-visiblity: hidden;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        overflow: hidden
    }
}

.waypoint-display .asset.stuck {
    position: fixed;
    top: 0;
    left: 112px;
    width: calc(50% - 55px)
}

.lt-ie9 .waypoint-display {
    background-position-x: left
}

.waypoint-display .asset-quote {
    background-color: #e9e9e9
}

.waypoint-display blockquote {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    font-size: 32px;
    font-size: 2rem;
    line-height: 42px;
    line-height: 2.625rem;
    padding: 30px;
    border: 0;
    margin: 0
}

@media (min-width: 1280px) {
    .waypoint-display blockquote {
        padding:10%
    }
}

.waypoint-display cite {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 42px;
    line-height: 2.625rem
}

.menu-open .waypoint-display .cloned-asset,.transitioning .waypoint-display .cloned-asset {
    display: block;
    left: 0!important;
    position: absolute!important;
    width: 100%!important
}

.ie .menu-open .waypoint-display .asset.stuck {
    display: none
}

.ie .menu-open .waypoint-display .cloned-asset {
    display: block!important
}
