#whoweare-content .whoweare-page{

background-color: #fff; /*#F6F6F2;*/
  padding: 0% 0% 0% 0%;
  margin: 0 auto;
  color:#fff;
  font-size: 1.525em;
  line-height: 1.66667em;
  font-family: Cambria,Georgia,Serif;
  color: #000;
width:100%;
  text-transform: none;
  text-align: left;
   min-height: 450px;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;

}
#whoweare-content .whoweare-page h2{
    font-size: 48px;
    font-size: 4rem;
    line-height: 48px;
    line-height: 5rem;
    padding:5% 0 20px 0 ;
    color: #15Cae0;
}
#whoweare-content .content-box {
    background-color: #3c3c3c;
    padding: 5% 5% 9% 5%;
    margin: 0 auto;   
    font-size: 1.525em;
    line-height: 1.66667em;
    font-family: Cambria,Georgia,Serif;
    color: #c5c5c5;
    text-transform: none;
    text-align: center;
    min-height: 500px;
    max-height: 500px;
    -webkit-transition: all .7s .2s ease-in-out;
    -moz-transition: all .7s .2s ease-in-out;
    -ms-transition: all .7s .2s ease-in-out;
    -o-transition: all .7s .2s ease-in-out;
    transition: all .7s .2s ease-in-out;

}
#whoweare-content  .content-box-right{
  border: solid 0px yellow;
   min-height: 400px;
    max-height: 400px;
}